---
import { AboutDialog } from "../AboutDialog"
---

<div class="flex md:flex-row flex-col max-w-[800px] mx-auto mt-44 justify-center items-center">
    <div class="md:w-[50%] w-[80%] shadow-lg h-[400px] flex flex-col items-center justify-center text-2xl font-normal">
        <h1 class="">Poznaj nas</h1>
        <h1>lepiej!</h1>
        <div class="h-[2px] w-[100px] bg-MyBrown mt-4 rounded-xl"/>
    </div>
    <div class="md:w-[50%] w-[80%] flex flex-col justify-center items-center px-10 text-lg mt-0 md:mt-14 border-2 h-[400px] border-[#00000060]">
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
            "There is no one who  seeks after it and wants to have it, simply because it is pain...</p>
        <div class="mt-2"><AboutDialog client:visible/></div>
    </div>
</div>