---
import { AboutDialog } from "../AboutDialog"
---
<section id="AboutUs">
    <div   class="flex lg:flex-row flex-col max-w-[900px] mx-auto justify-center items-center dark:text-white">
        <div class="w-[350px] h-[350px]    shadow-lg dark:shadow-MyBrown  flex flex-col items-center justify-center text-2xl font-normal ">
            <h1 class="">Poznaj nas</h1>
            <h1 class="border-b-[2px] border-MyBrown pb-4">lepiej!</h1>
        </div>
        <div  class="  rounded-[6px]  
          flex text-lg mt-0 lg:mt-14   ">
            <div id="borderAnimation"/>
            <div class="z-10 ml-1 mt-1 rounded-[10px] bg-white dark:bg-myDarkSemiGray w-[350px] h-[350px] flex items-center flex-col justify-center px-10">
              <p >Hebel Mebel to firma, która tworzy meble z prawdziwą duszą. Łączymy tradycyjne techniki stolarskie  ...</p>
              <div class="mt-2"><AboutDialog client:visible/></div>
            </div>
            
        </div>
    </div>
</section>

<style>
    @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
   
    #borderAnimation::after, #borderAnimation::before{
    content: '';
    position: absolute;
    height: 360px;
    width: 360px;
    background-image: repeating-conic-gradient( from var(--angle),transparent 50%, #C2A182);
    z-index: 0;
    animation: 7s spinBorder linear infinite;
    border-radius: 15px;
    }

    #borderAnimation::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  
  @keyframes spinBorder{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }
  /* Rotating border animation */
</style>


  
  
  
  
  