<div class="md:max-w-[90%] mx-auto flex flex-col-reverse md:flex-row ml-auto ">
    <div class="md:w-[30%] w-full md:mt-24 mt-20 px-6">
        <h1 class="text-3xl font-medium">Wybierz swój styl</h1>
        <h2 class="text-xl text-[#A7A3A3] mt-5">Neque porro quisquam est qui dolorem ipsum quia dolor sit </h2>
        <button class="text-MyBrown mt-4 font-medium">Przeglądaj</button>
    </div>
    <div class="flex space-x-6 text-2xl overflow-x-scroll md:w-[70%] pb-8 md:mt-10 mx-6">
        <div class="flex flex-col gap-y-8">
            <div class="h-[400px] bg-gray-200 w-[300px]"></div>
            <h1>Stoły</h1>
        </div>
        <div class="flex flex-col gap-y-8">
            <div class="h-[400px] bg-gray-200 w-[300px]"></div>
            <h1>Regały</h1>
        </div>
        <div class="flex flex-col gap-y-8">
            <div class="h-[400px] bg-gray-200 w-[300px]"></div>
            <h1>Komody</h1>
        </div>
        <div class="flex flex-col gap-y-8">
            <div class="h-[400px] bg-gray-200 w-[300px]"></div>
            <h1>Stoły</h1>
        </div>
    </div>
</div>