---
import { Image } from "astro:assets"
import Bg from "../../images/Hero.png"
import BgMobile from "../../images/HeroMobile.png"
--- 
<div class="w-full bg-MyLightGray dark:bg-myDarkLighterDark h-screen lg:h-auto z-0 md:pt-[125px]">
    <div class="grid md:grid-cols-2 bg-MyLightGray dark:bg-myDarkLighterDark items-center max-w-[1500px] h-full mx-auto ">
        <div class="flex flex-col justify-center items-center  ">
            <Image src={BgMobile} alt="Main background" class=" object-cover h-[490px] md:hidden"/>
            <div class=" mt-8  md:mt-0 flex flex-col z-10 justify-center items-center  h-[90%] w-full md:h-auto md:w-auto  px-6 md:items-start ">
                <h2 class="text-2xl  tracking-widest text-MyBrown  leading-0 ">STOLARSTWO</h2>
                <h1 class=" md:text-7xl text-6xl  md:text-black py-4 dark:text-white">Hebel Mebel</h1>
                <p class="md:text-MyGray dark:text-MyLightGray ">
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, <br/>
                    consectetur, adipisci velit..."
                    "There is no one who loves pain itself, <br/> who seeks after it
                </p>
            </div>
        </div>
            <Image src={Bg} alt="Main bg" class="ml-auto object-cover h-[700px] hidden md:flex"/>
    </div>
</div>
