
<div class="bg mx-auto w-[95%] h-[680px] flex items-center justify-center mt-[0rem] md:mt-[-2.6rem] md:rounded-[30px]">
    <h1 class="text-[5rem] text-white font-extralight text-center md:text-left">Hebel Mebel</h1>
</div>
<style>
    .bg{
        background-image: url(../../images/Hero.png);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
</style>

