---
import { Image } from "astro:assets"
import Bg from "public/images/Hero.webp"
import BgMobile from "public/images/Hero.webp"
--- 
<section id="Hero" class="w-full  dark:bg-myDarkLighterDark h-screen lg:h-auto z-0 md:pt-8 md:bg-MyLightGray">
    <div class="grid md:grid-cols-2  dark:bg-myDarkLighterDark items-center max-w-[1800px] h-full mx-auto mt-16 ">
        <div class="flex flex-col justify-center items-center  ">
            <Image src={BgMobile} alt="" class=" object-cover h-[490px] md:hidden"/>
            <!-- Mobile background -->
            <div class=" mt-8  md:mt-0 flex flex-col z-10 justify-center items-center  h-[90%] w-full md:h-auto md:w-auto  px-6 md:items-start ">
                <h1 class="text-2xl  tracking-widest text-MyBrown">STOLARSTWO BULOWICE</h1>
                <h2 class=" md:text-7xl text-6xl  md:text-[#493A3A] py-4 dark:text-white font-normal">Hebel Mebel</h2>
                <p class="md:text-MyGray dark:text-MyLightGray max-w-[450px]">
                    Tworzymy meble, które łączą w sobie tradycyjne rzemiosło, nowoczesny styl i Twoje indywidualne potrzeby, tak by idealnie wpasowały się w klimat i charakter Twojego domu.
                </p>
                <!-- <div/> -->
            </div>
        </div>
            <Image src={Bg} alt="" class="ml-auto object-cover h-[700px] hidden md:flex"/>
             
    </div>
</section>
