---
import { Image } from "astro:assets"
import Bg from "../../images/Hero.png"

---
<div class="w-full bg-MyLightGray">
    <div class="grid grid-cols-2 bg-MyLightGray items-center max-w-[1500px] mx-auto">
        <div class="flex flex-col justify-center items-center">
            <div class="flex flex-col ">
                <h2 class="text-2xl  tracking-widest text-MyBrown">STOLARSTWO</h2>
                <h1 class="py-6 text-7xl">Hebel Mebel</h1>
                <p class="text-MyGray">
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, <br/>
                    consectetur, adipisci velit..."
                    "There is no one who loves pain itself, <br/> who seeks after it
                </p>
            </div>
            
        </div>
            <Image src={Bg} alt="Main bg" class="ml-auto object-cover h-[700px]"></Image>
    </div>
</div>

<style>
    /* .bg{
        background-image: url(../../images/Hero.png);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    } */
    
</style>

