---

---

<div class="bg mx-auto w-[95%] h-[680px] flex items-center justify-center mt-[-50px]">
    <h1 class="text-[5rem] text-white font-extralight ">Hebel Mebel</h1>
</div>
<style>
    .bg{
        background-image: url(../../images/Hero.png);
        background-size: cover;
    }
    
</style>

