---
const realizations = [1,2,3,4,5,6]
---

<div class="overflow-hidden ">
    <div class="text-center mt-20 ">
        <h1 class="text-4xl font-normal">Nasze realizacje</h1>
        <h4 class="text-MyBrown font-light text-2xl mt-2">nasze prace</h4>
    </div>
    <div class="w-full overflow-x-auto ml-6 sm:ml-0 pb-6">
        <div
            class="grid grid-cols-[repeat(3,230px)] gap-4 auto-cols-[230px] mt-10 mx-auto"
            style="width: max-content;"
        >
            {realizations.map((r) => (
                <div
                    class="w-[230px] h-[230px] bg-gray-200"
                />
            ))}
        </div>
    </div>
</div>


