---
import { Image } from "astro:assets";
import Service1 from "/src/images/Service1.webp"
import Service2 from "/src/images/Service2.webp"
import Service3 from "/src/images/Service3.webp"
---
<section
  id="services"
  class="relative z-5 w-[90%] max-w-[1220px] mt-24 mb-12 mx-auto
         px-5 py-12 bg-white dark:bg-myDarkLighterDark shadow-2xl border-t-4 border-MyBrown rounded
         flex flex-col md:w-[98%] md:flex-row md:justify-between
         md:text-[min(1.8vw,1rem)] lg:px-20
         dark:bg-medium"
>
  <!-- card -->
  <div
    class="card w-full max-w-[20rem] mx-auto mb-12 last:mb-0
           md:mb-0 lg:max-w-[20rem]"
  >
    <div
      class="mx-auto mb-6 flex size-24 items-center justify-center
             rounded-full bg-MyBrown dark:bg-MyBrown"
    >
      <Image
        src={Service1}
        alt={"Konsultacje"}
        width="48"
        height="48"
        class="h-12 w-12"
      />
    </div>
    <h2 class="mb-3 text-center text-2xl font-bold text-[#1a1a1a]
               dark:text-white">
      Konsultacje
    </h2>
    <p
      class="mx-auto w-full text-center leading-6 opacity-70
             dark:text-white/70"
    >
    Na początku poznajemy Twoje potrzeby i oczekiwania. Wstępna wycena jest zawsze darmowa i niezobowiązująca.
    </p>
  </div>

    <div
    class="card w-full max-w-[20rem] mx-auto mb-12 last:mb-0
           md:mb-0 lg:max-w-[20rem]"
  >
    <div
      class="mx-auto mb-6 flex size-24 items-center justify-center
             rounded-full bg-MyBrown dark:bg-MyBrown"
    >
      <Image
        src={Service2}
        alt="Projekt"
        width="48"
        height="48"
        class="h-12 w-12"
      />
    </div>
    <h2 class="mb-3 text-center text-2xl font-bold text-[#1a1a1a]
               dark:text-white">
      Projekt
    </h2>
    <p
      class="mx-auto w-full text-center leading-6 opacity-70
             dark:text-white/70"
    >
    Tworzymy indywidualny projekt dopasowany do Twojej przestrzeni. Każdy detal jest przemyślany i skonsultowany z Tobą.    </p>
  </div>

    <div
    class="card w-full max-w-[20rem] mx-auto mb-12 last:mb-0
           md:mb-0 lg:max-w-[20rem]"
  >
    <div
      class="mx-auto mb-6 flex size-24 items-center justify-center
             rounded-full bg-MyBrown dark:bg-MyBrown"
    >
      <Image
        src={Service3}
        alt="Wykonanie"
        width="48"
        height="48"
        class="h-12 w-12"
      />
    </div>
    <h2 class="mb-3 text-center text-2xl font-bold text-[#1a1a1a]
               dark:text-white">
      Wykonanie
    </h2>
    <p
      class="mx-auto w-full text-center leading-6 opacity-70
             dark:text-white/70"
    >
    Z najwyższą starannością tworzymy meble, które spełniają wszystkie założenia projektu. Liczy się dla nas jakość, trwałość i estetyka.
    </p>
  </div>


</section>
