---
import Stage from "../Stage.astro";
import StagesPic from "../../images/stół2.jpeg"
import { Image } from "astro:assets";
---

<div class="max-w-[80%] flex flex-col lg:flex-row lg:max-w-[1000px] mx-auto  items-center lg:mt-40 mt-28">
    <!-- <div class="h-[500px] w-[360px] bg-gray-200 "></div> -->
    <Image src={StagesPic} alt="stages pic" class="h-[500px] w-[360px] bg-gray-200 object-center object-cover"/>
    <div class=" flex flex-col space-y-8  lg:w-[58%] lg:ml-auto mt-16 lg:mt-1">
        <Stage stage="01." title="Darmowe konsultacje"/>
        <Stage stage="02." title="Projekt według Twoich potrzeb"/>
        <Stage stage="03." title="Wykonanie"/>
        <Stage stage="04." title="Dostawa pod Twój dom"/>
    </div>
</div>

