---
import { Image } from "astro:assets"
import WriteUsPic from "../../images/WriteUs.png"
import WriteButton from "../WriteButton"
---

<div class="py-24 max-w-2xl justify-between mx-auto flex-row space-y-6 flex items-center">
    <h1 class=" text-3xl  z-10 mt-6 text-center text-black">Napisz po bezpłatną wycenę</h1>
    <WriteButton textColor="black"/>
</div>