---
import { Image } from "astro:assets"
import WriteUsPic from "../../images/WriteUs.png"
import WriteButton from "../WriteButton"
---

<div class="h-[300px] bg-black w-full flex-col space-y-6 mt-32 flex items-center justify-center">
<h1 class="text-white text-4xl  z-10 mt-6">Zamów bezpłatną wycenę</h1>
<WriteButton/>
<div class="w-full h-[330px] absolute bg-[#000000a9] z-[1]"/>
<Image src={WriteUsPic} alt="Zamów darmową wycenę" class="object-fit absolute "/>
</div>