---
import AboutUs from "../components/HomePage/AboutUs.astro";
import Hero from "../components/HomePage/Hero.astro";
import Realizations from "../components/HomePage/Realizations.astro";
import WriteUs from "../components/HomePage/WriteUs.astro";
import Navbar from "../components/Navbar.astro";
import Quote from "../components/HomePage/Quote.astro"
import '../styles/global.css'
import Furnitures from "../components/HomePage/Furnitures.astro";
import Stages from "../components/HomePage/Stages.astro";
import WoodTypes from "../components/HomePage/WoodTypes";
import Contact from "../components/HomePage/Contact.astro";
import Footer from "../components/HomePage/Footer.astro";
---
<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="favicon.png" type="image/png">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
	</head>
	<body class="">
		<header>
			<Navbar/>
		</header>
		<main class="snap-y">
			<Hero/>
			<Realizations/>
			<WriteUs/>
			<AboutUs/>
			<Quote/>
			<Furnitures/>
			<Stages/>
			<WoodTypes client:load/>
			<Contact/>
			<Footer/>
		</main>
	</body>
</html>
<style is:global>


	html{
		scroll-behavior: smooth;
	}
	body {
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
    }
	button{
		cursor: pointer;
	}
</style>