---
import Hero from "../components/HomePage/Hero.astro";
import Navbar from "../components/Navbar.astro";


---
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
</head>
<body>
	<Navbar/>
	<!-- <Hero/> -->

</body>

<style is:global>
	html{
		scroll-behavior: smooth;
	}
	body {
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
    }
</style>