---
import Footer from "../components/HomePage/Footer.astro";
import Hero from "../components/HomePage/Hero.astro";
import Realizations from "../components/HomePage/Realizations.tsx";
import WriteUs from "../components/HomePage/WriteUs.astro";
import AboutUs from "../components/HomePage/AboutUs.astro";
import Quote from "../components/HomePage/Quote.astro";
import Works from "../components/HomePage/Works.astro";
import Stages from "../components/HomePage/Stages.astro";
import WoodTypes from "@/components/HomePage/WoodTypes";
import Navbar from "@/components/HomePage/Navbar.tsx";
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png" type="image/png">
    <title>Hebel Mebel- Meble na wymiar z litego drewna | Solidność i styl</title>
    <meta name="description" content="Meble z litego drewna na wymiar. Solidne, stylowe i trwałe meble do salonu, kuchni i sypialni. Ręczna produkcja, polski stolarz.">
    <link rel="preload" as="font" href="/fonts/roboto-v48-latin/roboto-v48-latin-regular.woff2"  type="font/woff2"   crossorigin="anonymous"/>

  </head>
  <body>
		<Navbar client:only="react" furniturePage={false} policyPrivacyPage={false} />
    <main class="snap-y dark:bg-MyDarkBg  ">
      <Hero/>
      <Realizations client:idle  />
      <!-- <WriteUs /> -->
	    <AboutUs />
      <Quote />
      <Works />
      <WoodTypes client:idle />
      <Stages />
    </main>
      <Footer />
  </body>
</html>
<script>
  
</script>
