---
import Footer from "../components/HomePage/Footer.astro";
import Hero from "../components/HomePage/Hero.astro";
import Realizations from "../components/HomePage/Realizations.tsx";
import WriteUs from "../components/HomePage/WriteUs.astro";
import AboutUs from "../components/HomePage/AboutUs.astro";
import Quote from "../components/HomePage/Quote.astro";
import Works from "../components/HomePage/Works.astro";
import Stages from "../components/HomePage/Stages.astro";
import WoodTypes from "@/components/HomePage/WoodTypes";
import Navbar from "@/components/HomePage/Navbar.tsx";

---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;700&display=swap" rel="stylesheet" />
  </head>
  <body>
		<Navbar client:only="react" furniturePage={false} policyPrivacyPage={false} />
    <main class="snap-y dark:bg-MyDarkBg  ">
      <Hero />
      <Realizations client:visible  />
      <WriteUs />
	    <AboutUs />
      <Quote />
      <Works />
      <WoodTypes client:visible />
      <Stages />
    </main>
      <Footer />
  </body>
</html>
<script>
  
</script>
