---
import Navbar from "@/components/HomePage/Navbar";
import "../styles/global.css"
import Footer from "@/components/HomePage/Footer.astro";
---


<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polityka Prywatności</title>
  </head>
  <body class="dark:bg-MyDarkBg flex flex-col justify-between h-screen">
    <nav>
      <Navbar furniturePage={false} client:load/>
      <div class="h-[127px]"></div>
    </nav>
   
    <main >
      <div class="md:max-w-[1100px] flex flex-col mx-auto p-4">
        test test

        <!-- <h1>Polityka Prywatności</h1>
        
        <h2>1. Administrator danych</h2>
        <p>Administratorem Twoich danych osobowych jest Szymon Komendera. Możesz skontaktować się ze mną pod adresem e-mail: [Twój e-mail].</p>

        <h2>2. Jakie dane zbieram?</h2>
        <p>W ramach formularza kontaktowego zbieram wyłącznie Twój adres e-mail oraz treść wiadomości, którą do mnie wysyłasz.</p>

        <h2>3. W jakim celu przetwarzam Twoje dane?</h2>
        <p>Twoje dane osobowe są przetwarzane wyłącznie w celu odpowiedzi na Twoją wiadomość. Nie wykorzystuję ich do celów marketingowych ani nie przekazuję ich osobom trzecim.</p>

        <h2>4. Podstawa prawna przetwarzania danych</h2>
        <p>Podstawą prawną przetwarzania Twoich danych jest art. 6 ust. 1 lit. f RODO – prawnie uzasadniony interes administratora, polegający na możliwości udzielenia odpowiedzi na Twoje zapytanie.</p>

        <h2>5. Jak długo przechowuję Twoje dane?</h2>
        <p>Twoje dane są przechowywane wyłącznie przez okres niezbędny do udzielenia odpowiedzi na Twoją wiadomość, maksymalnie 3 miesiące od zakończenia korespondencji. Następnie zostają usunięte.</p>

        <h2>6. Komu przekazuję Twoje dane?</h2>
        <p>Dane przesyłane za pomocą formularza kontaktowego są obsługiwane przez zewnętrznego dostawcę usługi – Web3Forms. Więcej informacji o przetwarzaniu danych przez Web3Forms znajdziesz w ich Polityce Prywatności.</p>

        <h2>7. Twoje prawa</h2>
        <p>Masz prawo do:</p>
        <ul class="list-disc pl-5 pb-4">
          <li class="hover:text-black hover:cursor-default">dostępu do swoich danych,</li>
          <li class="hover:text-black hover:cursor-default">sprostowania danych,</li>
          <li class="hover:text-black hover:cursor-default">żądania usunięcia danych,</li>
          <li class="hover:text-black hover:cursor-default">wniesienia sprzeciwu wobec przetwarzania danych.</li>
        </ul>
        <p>W celu realizacji swoich praw skontaktuj się ze mną pod adresem [Twój e-mail]. Jeśli uznasz, że Twoje dane są przetwarzane niezgodnie z prawem, masz prawo złożyć skargę do Prezesa Urzędu Ochrony Danych Osobowych.</p>

        <h2>8. Zmiany w Polityce Prywatności</h2>
        <p>Zastrzegam sobie prawo do wprowadzenia zmian w niniejszej Polityce Prywatności, jeśli zajdzie taka potrzeba.</p>

        <p><strong>Data ostatniej aktualizacji:</strong> 12.03.2025</p> -->
      </div>
    </main>
    <Footer/>
  </body>
</html>



<style>
  h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
  }
  h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  p{
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
</style>