---
import Navbar from "@/components/HomePage/Navbar";
import { useState } from "react";
import "../styles/global.css"
import Footer from "@/components/HomePage/Footer.astro";
---


<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polityka Prywatności</title>
  </head>
  <body class="dark:bg-MyDarkBg flex flex-col justify-between h-screen">
    <nav>
      <Navbar furniturePage={false} client:load/>
      <div class="h-[127px]"></div>
    </nav>
    <h1>
       
        
        Data wejścia w życie: [data]
        
        Niniejsza Polityka Prywatności określa zasady przetwarzania danych osobowych użytkowników naszej strony internetowej [nazwa strony] (dalej „Strona”) w związku z korzystaniem z formularza kontaktowego.
        
        Administrator Danych Osobowych
        
        Administratorem Twoich danych osobowych jest [pełna nazwa firmy], z siedzibą w [adres firmy], NIP: [NIP], REGON: [REGON], e-mail: [adres e-mail do kontaktu] (dalej „Administrator”).
        
        Jakie dane zbieramy?
        
        Zbieramy dane osobowe, które użytkownicy dobrowolnie przekazują za pośrednictwem formularza kontaktowego, w tym:
        
        Adres e-mail.
        Cel przetwarzania danych
        
        Twoje dane osobowe będą przetwarzane w celu:
        
        Odpowiedzi na Twoje zapytanie wysłane za pośrednictwem formularza kontaktowego.
        Podstawy prawne przetwarzania danych
        
        Podstawą prawną przetwarzania danych osobowych jest Twoja dobrowolna zgoda, udzielona w momencie wysłania formularza kontaktowego (art. 6 ust. 1 lit. a RODO). Masz prawo do wycofania zgody w dowolnym momencie, co nie wpłynie na zgodność z prawem przetwarzania przed jej wycofaniem.
        
        Odbiorcy danych
        
        Twoje dane osobowe będą przetwarzane tylko przez Administratora. Nie przekazujemy danych osobowych żadnym podmiotom trzecim.
        
        Okres przechowywania danych
        
        Twoje dane osobowe będą przechowywane przez okres niezbędny do udzielenia odpowiedzi na Twoje zapytanie, a następnie przez czas wymagany do realizacji ewentualnych roszczeń lub spełnienia innych obowiązków prawnych Administratora, maksymalnie przez 3 lata.
        
        Prawa użytkownika
        
        Masz prawo do:
        
        Dostępu do swoich danych osobowych,
        Sprostowania danych osobowych, jeśli są nieaktualne lub nieprawdziwe,
        Usunięcia swoich danych osobowych, jeżeli nie są już potrzebne do realizacji celu ich przetwarzania,
        Ograniczenia przetwarzania danych w określonych przypadkach,
        Wniesienia sprzeciwu wobec przetwarzania danych w przypadkach przewidzianych przez prawo.
        W celu realizacji swoich praw, możesz skontaktować się z nami pod adresem e-mail: [adres e-mail].
        
        Bezpieczeństwo danych
        
        Administrator stosuje odpowiednie środki organizacyjne i techniczne mające na celu zapewnienie bezpieczeństwa danych osobowych, w tym zabezpieczenie przed ich nieuprawnionym dostępem, ujawnieniem, modyfikowaniem czy zniszczeniem.
        
        Zmiany w Polityce Prywatności
        
        Administrator zastrzega sobie prawo do zmiany Polityki Prywatności. Wszelkie zmiany będą publikowane na tej stronie.
        
        Kontakt
        
        Jeśli masz jakiekolwiek pytania dotyczące przetwarzania Twoich danych osobowych, skontaktuj się z nami pod adresem e-mail: [adres e-mail].
        
        
        </h1>
    <main >
     
    </main>
    <Footer/>
  </body>
</html>



