---
import Navbar from "@/components/HomePage/Navbar";
import "../styles/global.css"
import Footer from "@/components/HomePage/Footer.astro";
---


<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polityka Prywatności</title>
  </head>
  <body class="dark:bg-MyDarkBg flex flex-col justify-between h-screen">
    <nav>
      <Navbar furniturePage={false} client:load/>
      <div class="h-[127px]"></div>
    </nav>
   
    <main >
      <div class="md:max-w-[1100px] flex flex-col mx-auto p-4">
        
      </div>
    </main>
    <Footer/>
  </body>
</html>



<style>
  h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
  }
  h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  p{
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
</style>