---
import Logo from "./Logo.astro";
import WriteButton from "./WriteButton";
import { CiFacebook } from "react-icons/ci";
import { PiPhoneThin } from "react-icons/pi";
import OlxLogo from "../images/Olx.svg"
import {ContactForm} from "./ContactForm"
import Saw from "./Saw";

---
<section id='Contact'>
    <div class="bg-MyLightGray dark:bg-myDarkLighterDark lg:mt-32 mt-20 dark:text-myDarkText">
        <div class="max-w-[900px] py-12 flex lg:justify-between items-center mx-auto flex-col justify-center lg:flex-row">
            <div class="text-5xl font-extralight  flex flex-col items-center justify-center md:items-start">
                <h1 >Daj mi znać 
                </h1>
                <h1 class="mt-4  text-center md:text-left px-6 md:px-0 ">Jaki mebel cie interesuje</h1>
            </div>
            <ContactForm client:visible/>
        </div>
        <div class="max-w-[900px] mx-auto border-t-2  border-gray-200 flex flex-col px-4 pb-8">
            <div class="flex justify-between items-center mt-6 flex-row ">
                <div class="flex items-center flex-col lg:flex-row">
                    <Logo/>
                    <div class="ml-4">
                        <h1 class="text-2xl">Hebel Mebel</h1>
                        <h2>Stolarstwo</h2>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row md:justify-center md:items-center  justify-start items-start space-y-2 md:space-y-0 mr-6 md:mr-0 lg:space-x-10">
                    <div class="flex space-x-2 items-center justify-center">
                        <PiPhoneThin size={30}/>
                        <h1>123 123 123</h1>
                    </div>
                    <div  class="flex space-x-2 items-center justify-center">
                        <CiFacebook size={30}/>
                        <h1>hebelmebel</h1>
                    </div>
                    
                    <div class="flex space-x-2 items-center justify-center">
                        <img src="/Olx.svg" class="size-[30px] border border-black rounded-full px-1 block dark:hidden"/>
                        <img src="/OlxWhite.svg" class="size-[30px] border dark:border-myDarkText rounded-full px-1 hidden dark:block"/>
                        <h1>hebelmebel</h1>
                    </div>
                </div>
                
            </div>
            <div class="mt-6 flex justify-between px-4">
                <h1>© Hebel Mebel 2024</h1>
                <h1>Realizacja: Wiktor Dawid</h1>
            </div>
        </div>
    </div>
</section>
