<ul class="flex text-[1.2rem] text-left space-x-14">
    <li><a href="#">STOŁY</a></li>
    <li><a href="#">KOMODY</a></li>
    <li><a href="#">REGAŁY</a></li>
    <li><a href="#">SZAFKI</a></li>
  </ul>