<ul class="flex text-[1.2rem] text-right space-x-14">
    <li><a href="#">REALIZACJE</a></li>
    <li><a href="#">O NAS</a></li>
    <li><a href="#">MEBLE</a></li>
    <li><a href="#">KONTAKT</a></li>
  </ul>